@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswalddemibold';
  src: url("../fonts/oswald-demibold-webfont.woff2") format("woff2");
  src: url("../fonts/oswald-demibold-webfont.woff") format("woff");
  src: url("../fonts/oswald-demibold-webfont.eot");
  src: url("../fonts/oswald-demibold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/oswald-demibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldextralight';
  src: url("../fonts/oswald-extralight-webfont.woff2") format("woff2");
  src: url("../fonts/oswald-extralight-webfont.woff") format("woff");
  src: url("../fonts/oswald-extralight-webfont.eot");
  src: url("../fonts/oswald-extralight-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/oswald-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-black-webfont.woff") format("woff");
  src: url("../fonts/roboto-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack_italic';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto-blackitalic-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-blackitalic-webfont.woff") format("woff");
  src: url("../fonts/roboto-blackitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-bold-webfont.woff") format("woff");
  src: url("../fonts/roboto-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2");
  src: url("../fonts/robotocondensed-bold-webfont.woff") format("woff");
  src: url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-regular-webfont.woff") format("woff");
  src: url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.56;
  font-family: 'robotoregular', sans-serif;
  color: #fff; }

.h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

ul, ul li {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

.container {
/*  padding: 0;*/
  margin-right: auto;
  margin-left: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

.top-line {
  background-color: #2c2c2c;
  -webkit-box-shadow: 0px 7px 7px -1px #d6d6d6;
          box-shadow: 0px 7px 7px -1px #d6d6d6;
  margin-bottom: 15px; }
  .col-md-4 {text-align: right;}
  .top-line .row {
    margin: 0; }
  .top-line .top-line__phone {
    font-family: 'oswalddemibold';
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 12px 0 12px 9px;
    height: 100%;
    display: inline-block; }
  .top-line .top-line__balance {
    text-align: right;
    padding: 12px 0 12px 21px;
    display: inline-block;
    line-height: 16px;
    letter-spacing: 0.2px; }
  .top-line .login {
    padding: 0;
    text-align: right; }
    .top-line .login__btn:hover {
      background-color: #fd4c3c;
      -webkit-transition: 1s;
      transition: 1s; }
    .top-line .login .login__btn {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding: 12px 30px 12px 30px;
      line-height: 16px;
      letter-spacing: 0.2px; }

.top-line .col-md-1 {text-align: center;}
      
  /*.top-line .login {
    padding: 0; }
    .top-line .login:hover {
      background-color: #fd4c3c;
      -webkit-transition: 1s;
      transition: 1s; }
    .top-line .login .login__btn {
      display: block;
      text-decoration: none;
      color: #fff;
      line-height: 16px;
      padding: 12px 0 12px 0;
      text-align: center; }
*/
.header__content .header__logo {
  padding: 13px 0 0 45px; }
  .header__content .header__logo img {
    display: block;
    max-width: 100%;
    height: auto; }

.header__content .header__search {
  padding: 17px 22px 0 25px; }
  .header__content .header__search .header__search_form {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 6px; }
    .header__content .header__search .header__search_form .header__search_form-control {
      display: block;
      width: 100%;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border: 1px solid transparent;
      padding: 13px 60px 13px 35px;
      height: 40px;
      background: #fff;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      font-size: 16px;
      color: #9c9b9b;
      line-height: 1.6; }
    .header__content .header__search .header__search_form .header__search-btn {
      display: block;
      background-color: #fff;
      position: absolute;
      top: 1px;
      right: 9px;
      width: 50px;
      color: #ff4c3c;
      border: none;
      padding: 10px 0 5px 0; }
      .header__content .header__search .header__search_form .header__search-btn:before {
        content: "\f002";
        display: block;
        font-family: "FontAwesome";
        font-size: 17px;
        width: 100%; }
  .header__content .header__search .example {
    font-size: 14px;
    color: #a7a7a7;
    padding-left: 36px; }

.cart {
  position: relative;
  width: 127px;
  float: right; }
  .cart .cart__block {
    display: block;
    padding: 5px 10px 14px 28px; }
    .cart .cart__block .cart__block-numb {
      position: absolute;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #ff4c3c;
      color: #fff;
      font-size: 20px;
      padding: 0 5px 2px 8px;
      top: 16px;
      left: 88px;
      line-height: 1.1; }

.header__nav {
  background-color: #fb4b3b;
  margin-top: 11px;
  -webkit-box-shadow: 0px -7px 5px 0px rgba(214, 214, 214, 0.65);
          box-shadow: 0px -7px 5px 0px rgba(214, 214, 214, 0.65); }

.header__nav-list {
  width: 100%;
  text-align: center;
  font-size: 0; }

.header__nav-item {
  display: inline-block;
  background: none;
  width: 167px;
  list-style: none;
  -webkit-box-shadow: 1px 0px 0px 0px #ac3328, 2px 0px 0px 0px #ff867b;
          box-shadow: 1px 0px 0px 0px #ac3328, 2px 0px 0px 0px #ff867b; }
  .header__nav-item:first-child {
    border-left: 1px solid #a73227; }
  .header__nav-item .header__nav-link {
    font-family: 'oswalddemibold', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 12% 9% 9% 9%;
    letter-spacing: 0.5px; }
    .header__nav-item .header__nav-link:hover {
      text-decoration: underline; }

.slider {
  -webkit-box-shadow: 0px 7px 7px -1px #d2e9ff;
          box-shadow: 0px 7px 7px -1px #d2e9ff; }

.sl__slide {
  height: 460px;
  position: relative;
  width: 100%; }

.sl__slide img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  height: 460px; }

.sl__slide-text {
  position: absolute;
  top: 47%;
  left: 21.5%; }
  .sl__slide-text div {
    background-color: #f9bc20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9bc20), to(#fc7e30));
    background: -webkit-linear-gradient(top, #f9bc20 0%, #fc7e30 100%);
    background: linear-gradient(to bottom, #f9bc20 0%, #fc7e30 100%);
    font-family: 'oswalddemibold';
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 1.5px;
    padding: 8px 14px 7px 13px; }
  .sl__slide-text a {
    text-decoration: none;
    color: #fff;
    font-family: 'oswaldextralight';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: inline-block;
    background: #fc842e;
    background: -webkit-gradient(linear, left top, left bottom, from(#fc842e), to(#fe5c38));
    background: -webkit-linear-gradient(top, #fc842e 0%, #fe5c38 100%);
    background: linear-gradient(to bottom, #fc842e 0%, #fe5c38 100%);
    padding: 0 9px 0 11px; }

.header {
  margin-bottom: 22px; }

.company {
  position: relative;
  margin-bottom: 42px; }

.company .col-md-6 {
  padding: 0; }

.company__video {
  padding-left: 29px;
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 56.25%; }

.company__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}  

.company .col-md-6 h2 {
  font-family: 'oswalddemibold';
  color: #000;
  font-size: 24px;
  margin-bottom: 14px; }

.company__info {
  padding-top: 40px;
  padding-left: 22px; }

.company__info-text_block {
  display: block;
  color: #303030;
  font-family: 'robotoregular';
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.6; }

.company__info-text_block_inl {
  display: inline; }

.company__info-text span {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'robotoblack_italic'; }

.company__info-text a {
  font-size: 15px;
  text-decoration: none;
  color: #4bb5f9; }

.call {
  position: fixed;
  display: inline-block;
  right: 47px;
  bottom: 0; }

.advantage {
  background-color: #f9fafb;
  margin-bottom: 7px; }
  .advantage .advantage__title {
    text-align: center;
    margin-bottom: 0; }
  .advantage .advantage__title h2 {
    color: #000;
    text-align: center;
    font-family: 'oswalddemibold';
    font-size: 24px;
    border-bottom: 2px solid #4bb5f9;
    display: inline-block;
    padding: 53px 8px 0 10px; }

.advantage__item {
  text-align: center;
  margin-bottom: 102px; }
  .advantage__item h3 {
    margin: 0;
    color: #212121;
    font-size: 14px;
    font-family: 'robotobold';
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: 3.2px;
    line-height: 1.4;
    margin-bottom: 5px; }
  .advantage__item p {
    color: #999;
    padding: 0 10px 10px 10px;
    line-height: 1.3;
    display: inline-block; }
  .advantage__item .advantage__icon {
    margin-top: 40px;
    width: 70px;
    position: relative;
    height: 70px;
    background: #2196f3;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 auto; }
    .advantage__item .advantage__icon img {
      position: absolute;
      top: 0;
      right: -16px; }

.advantage__item:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px #d8edfb;
          box-shadow: 0px 0px 11px 0px #d8edfb; }

.brands {
  background-image: url("../img/brands-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 7px 7px -1px #d6d6d6;
          box-shadow: 0px 7px 7px -1px #d6d6d6;
  min-height: 465px;
  margin-bottom: 74px; }
  .brands .brands__title {
    text-align: center;
    font-family: 'oswalddemibold';
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-top: 15px;
    margin-bottom: 0; }
  .brands .line {
    width: 58px;
    height: 3px;
    margin: 0 auto;
    background-color: #fdfdfd; }
  .brands .brands__table {
    margin-top: 22px; }
    .brands .brands__table .container {
      width: 1140px; }
      .brands .brands__table .container .row {
        padding: 0;
        background-color: #fff; }
        .brands .brands__table .container .row .col-md-1 {
          padding: 0;
          height: 98px;
          border: 1px solid #c4c4c4;
          text-align: center;
          position: relative; }
          .brands .brands__table .container .row .col-md-1 img {
            display: inline-block;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
  .brands .brands__btn {
    display: block;
    margin: 0 auto;
    font-family: 'oswalddemibold';
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.9px;
    font-size: 14px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    color: #2196f3;
    border: none;
    background-color: #fff;
    line-height: 28px;
    padding: 7px 40px 7px 40px;
    margin-top: 20px;
    cursor: pointer; }

.email {
  background-image: url("../img/email-bg_03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150px; }
  .email .container .col-md-3 {
    padding: 0 0 0 90px; }
    .email .container .col-md-3 .email__text {
      display: inline-block;
      padding-top: 39px; }
      .email .container .col-md-3 .email__text p {
        font-size: 20px;
        line-height: 1.2; }

.email__search_form {
  display: block;
  position: relative;
  width: 98%;
  margin-top: 50px;
  padding-left: 56px; }
  .email__search_form .email__search_form-control {
    display: block;
    width: 100%;
    padding: 14px 60px 14px 22px;
    height: 50px;
    border: none;
    background: #fff;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #7b7c7c;
    font-size: 14px; }
  .email__search_form .email__search-btn {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 9px;
    width: 50px;
    color: #ff4c3c;
    border: none;
    padding: 11px 0 7px 0; }
    .email__search_form .email__search-btn:before {
      content: "\f178";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%; }

.news {
  background-color: #f9fafb;
  padding-top: 109px;
  padding-bottom: 79px; }
  .news .container {
    width: 1140px; }
    .news .container .row {
      background-color: #fff;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    .news .container .col-md-4 {text-align: left;}          
      .news .container .row .news__title {
        width: 100%;
        padding-left: 17px; }
        .news .container .row .news__title h2 {
          color: #101010;
          font-family: 'oswalddemibold';
          font-size: 24px; }
      .news .container .row .col-md-4 .news__block-date {
        font-size: 15px;
        color: #6dc1f6;
        line-height: 1.8; }
      .news .container .row .col-md-4 p {
        color: #303030;
        font-size: 15px;
        padding-top: 22px; }
      .news .container .row .col-md-4 a {
        text-decoration: none;
        color: #9ed6fa; }
      .news .container .row .news__btn {
        margin: 16px 16px 42px auto; }
        .news .container .row .news__btn button {
          font-family: 'oswalddemibold';
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          background-color: #2196f3;
          border: none;
          letter-spacing: 0.8px;
          padding: 13px 42px 13px 42px;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          cursor: pointer; }

.news__line {
  margin: 40px auto 0 auto;
  background-color: #9a9a9a;
  height: 1px;
  width: 61.5%; }

.footer {
  position: relative;
  background-color: #1d1d1d; }
  .footer .container {
    width: 1140px; }
    .footer .container .footer__logo {
      padding-top: 45px;
      padding-left: 29px; }

.footer__socials {
  width: 100%;
  padding-top: 44px; }
  .footer__socials a {
    display: inline-block;
    margin-left: 24px; }
    .footer__socials a:first-child {
      margin-left: 0; }
  .footer__socials .youtube, .footer__socials .inst {
    margin-left: 40px; }
  .footer__socials .ggl {
    margin-left: 32px; }

.footer__nav, .footer__pay {
  padding-top: 50px; }
  .footer__nav a, .footer__pay a {
    text-decoration: none;
    color: #fff;
    line-height: 2.5; }

.footer__pay {
  padding-left: 68px; }

.footer__numbers {
  padding: 57px 0 0 57px;
  line-height: 1.8; }

.footer__address {
  line-height: 1.8;
  padding: 57px 0 0 63px; }

.footer__asiaavto {
  text-align: center;
  padding: 46px 0 28px 0; }

.footer__btn {
  background-color: #2698f3;
  display: inline-block;
  position: absolute;
  top: -18px;
  right: 11.7%; }
  .footer__btn img {
    padding: 4px 21px 4px 21px; }

.menu {
  margin-top: -18px;
  margin-bottom: 58px; }

.menu__nav {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px; }
  .menu__nav .col-md-2 {
    padding-right: 12px;
  }
  .menu__nav ul {
    width: 100%; }
    .menu__nav ul li {
      display: inline-block;
     }
  .menu__nav a {
    text-decoration: none;
    color: #0c1a2b;
    font-size: 13px;
    display: block;
    line-height: 0.6;
    text-transform: uppercase;
    padding-right: 0;
    padding-left: 0;
   }

.catalog {
  padding-bottom: 111px;
}            

.menu__catalog {
  padding-top: 17px; }
  .menu__catalog .container {
    background-color: #2196f3;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    .menu__catalog .container .col-md-12 .menu__catalog-links {
      -webkit-box-shadow: 0px 0px 11px 0px #cde7fc;
              box-shadow: 0px 0px 11px 0px #cde7fc; }
      .menu__catalog .container .col-md-12 .menu__catalog-links ul {
        font-size: 0;
        display: table;
        width: 100%;
        height: 40px; }
        .menu__catalog .container .col-md-12 .menu__catalog-links ul li {
          display: table-cell;
          vertical-align: middle;
          position: relative;
          -webkit-transform: skewX(-30deg);
              -ms-transform: skewX(-30deg);
                  transform: skewX(-30deg);
          border-right: 1px solid #fff;
          min-width: 95px; }
          .menu__catalog .container .col-md-12 .menu__catalog-links ul li:last-child {
            border: none; }
          .menu__catalog .container .col-md-12 .menu__catalog-links ul li a {
            display: block;
            -webkit-transform: skewX(30deg);
                -ms-transform: skewX(30deg);
                    transform: skewX(30deg);
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            color: #fff;
            font-family: 'oswalddemibold';
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.8px; }
            .menu__catalog .container .col-md-12 .menu__catalog-links ul li a:hover {
              color: #092841;
              text-decoration: underline; }
            .menu__catalog .container .col-md-12 .menu__catalog-links ul li a:last-child {
              padding-right: 0; }

.catalog__filter {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px; }
  .catalog__filter .arrows:after {
    content: url(../img/updown.png);
    position: absolute;
    top: 0; }

.col-md-1 .arrows:after {
  right: 40px; }

.catalog .container {
  width: 1140px; }
  .catalog .container .col-md-1 {
    padding: 0; }
  .catalog .container .col-md-2 {
    padding: 0; }
  .catalog .container .pad-l {
    padding-left: 15px; }

.goods {
  font-size: 14px;
  color: #818384;
  line-height: 1.1; }
  .goods .row {
    background-color: #f9f9f9;
    padding: 0 0 0 0; }
    .goods .row .bold {
      font-family: 'robotobold';
      color: #333; }
    .goods .row .col-md-1, .goods .row .col-md-2 {
      vertical-align: middle;
      padding: 0; }
      .goods .row .col-md-1 div, .goods .row .col-md-2 div {
        display: table-cell;
        vertical-align: middle;
        height: 92px; }
      .goods .row .col-md-1 img, .goods .row .col-md-2 img {
        display: inline-block;
        padding-top: 15px;
        padding-left: 15px; }
      .goods .row .col-md-1 a, .goods .row .col-md-2 a {
        display: block;
        font-family: 'robotobold';
        text-decoration: underline;
        color: #333;
        letter-spacing: 0.8px; }
        .goods .row .col-md-1 a:before, .goods .row .col-md-2 a:before {
          content: url(../img/Cart.png); }
    .goods .row .pad-l {
      padding-left: 15px; }

#catalog-popup .container {
  width: 1140px; }
  #catalog-popup .container .popup-bg {
    background-color: #f9fafb; }
    #catalog-popup .container .popup-bg .catalog-popup__img {
      border: 1px solid #ebebeb;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 59px;
      position: relative;
      height: 400px;
      background-color: #FFF; }
      #catalog-popup .container .popup-bg .catalog-popup__img img {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0; }
      #catalog-popup .container .popup-bg .catalog-popup__img .zoom__btn {
        display: block;
        font-size: 20px;
        width: 36px;
        height: 36px;
        position: absolute;
        background-color: transparent;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #dbdbdb;
        color: #a6a6a6;
        left: 16px;
        cursor: pointer; }
      #catalog-popup .container .popup-bg .catalog-popup__img .zoom-in {
        top: 75%; }
      #catalog-popup .container .popup-bg .catalog-popup__img .zoom-out {
        top: 88%; }
    #catalog-popup .container .popup-bg .catalog-popup__info {
      margin-top: 28px; }
      #catalog-popup .container .popup-bg .catalog-popup__info h2 {
        font-family: 'robotobold';
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 0.6px;
        margin-bottom: 0; }
      #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__price {
        font-family: 'robotoblack';
        font-size: 26px;
        color: #2196f3; }
      #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__presence {
        font-size: 14px;
        color: #33cc33;
        margin-bottom: 8px; }
      #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__cart-amount {
        border: 1px solid #2196f3;
        display: inline-block;
        margin-bottom: 12px; }
        #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__cart-amount a {
          text-decoration: none;
          display: inline-block;
          color: #333; }
        #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__cart-amount input {
          display: inline-block;
          width: 38px;
          height: 34px;
          border: none;
          border-left: 1px solid #92daec;
          border-right: 1px solid #92daec;
          text-align: center; }
        #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__cart-amount .cart-amount-minus {
          padding: 0 8px 0 12px; }
        #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__cart-amount .cart-amount-plus {
          padding: 0 10px 0 5px; }
      #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__block {
        font-size: 14px;
        color: #747575;
        letter-spacing: 0.8px;
        line-height: 1.7;
        margin-bottom: 19px; }
        #catalog-popup .container .popup-bg .catalog-popup__info .catalog-popup__info__block span {
          font-family: 'robotobold'; }
      #catalog-popup .container .popup-bg .catalog-popup__info button {
        display: block;
        font-family: 'roboto_condensedbold';
        border: none;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer; }
      #catalog-popup .container .popup-bg .catalog-popup__info .buy {
        background-color: #ff4c3c;
        text-decoration: underline;
        padding: 7px 62px 7px 62px;
        font-size: 18px;
        letter-spacing: 1.1px;
        margin-bottom: 17px; }
      #catalog-popup .container .popup-bg .catalog-popup__info .order {
        background-color: #2196f3;
        font-size: 14px;
        letter-spacing: 0.6px;
        padding: 10px 54px 10px 54px; }

#catalog-popup .container .popup-bg {
  position: relative;
}        
.mfp-close {
  font-size: 16px;
  right: 4%;
}
.advantage__item {
  padding-top: 20px;
}
/* Ð¤Ð°Ð¹Ð» Ð¸Ð· Ð¿Ñ€Ð¾ÐµÐºÑ‚Ð° Block-Engine https://github.com/Wasilich/block-engine - Ð°Ð²Ñ‚Ð¾Ñ€ Wasilich http://webdesign.ru.net/ */
/* Axiomatic CSS reset */
* {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;/*vertical-align: baseline;*/background: transparent;line-height: 1.5em;}
ol, ul {list-style: none;padding: 0;}
blockquote, q {quotes: none}
table {border-collapse: collapse;border-spacing: 0}
* {box-sizing: border-box;}
/* End of CSS reset */
/* group & block */
[class*=group], [class*=block] {
    display: block;
    box-sizing: border-box;
    /*float: left;*/
    margin: 0;
    padding: 0;
    overflow: visible;
}
[class*=group-90], [class*=block-90] {width: 90%;}
[class*=group-][class*=-offset-005], [class*=block-][class*=-offset-005] {
  margin: 0 auto;
  width: 1170px;
  font-size: 14px;
}

}
/* Autor of a responsive method - "Michael Chan" site - "https://github.com/chantastic/table.css" */
table {
  border: 2px solid #a0a0a0;
  width: 100%;
  margin:0;
  padding:0;
  word-wrap: break-word;
}

tbody {
  background-color: #f9f9f9;
}

table tr {
  /*border: 1px solid #a0a0a0;*/
  text-align: center;
}

table th, table td {
  /*padding: 10px;*/
  /*width: 33.333333%;*/
  /*color: #333;*/
  
}
table td {
  /*text-align: left;*/
  /*border: 1px solid #a0a0a0;*/
  color: #6f7070;
  font-family: 'robotoregular';
  padding-left: 10px;
  line-height: 1.1
}
table th {position: relative;}
table th .arrows:after {
    content: url(../img/updown.png);
    position: absolute;
    top: 10px;
}
table th .arrows-1:after {
    content: url(../img/updown.png);
    position: absolute;
    top: 0;
    right: -2px;
}
.link {
  width: 8%;
}
table th {
  color: #666;
  font-family: 'robotoregular';
}
table a {
  color: #333;
  font-family: 'robotobold';
  font-size: 16px;
}
table a:before {
  content: url(../img/Cart.png);
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #a0a0a0;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border: 0;
    border-bottom: 1px dotted #a0a0a0;
    width: 100%;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  display: block;
  padding: 0 8px;
  background: #eee;
  }
  [class*=group-90], [class*=block-90] {
    width: 90%;
  }
  .link {
    width: 100%;
  }
  table {
    width: 95%;
    margin-left: 2.5%;
  }
}


/*==========  Desktop First Method  ==========*/
@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0; }
  .header__nav .container {
    width: 100%;
  }  
     }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    width: 1170px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .top-line .top-line__balance {
    padding: 12px 0 12px 0;
    text-align: left;
    font-size: 14px;
  }
  .top-line .top-line__phone {
    font-size: 13px;
    padding: 13px 0 11px 9px;
  }
  .company__video {
    padding-left: 0;
  }

  .company__info {padding-left: 15px;}
  .header__nav-item {
      width: 130px;
  }

  .footer__numbers {
    padding: 36% 0 0 18%;
  }
  .brands .brands__table .container {
    width: 960px;
  }
	.header .top-line .col-md-2{
		padding: 0;
	}
  .col-md-1 .arrows:after {
    right: 30px;
  } 
  #catalog-popup .container .popup-bg .catalog-popup__info .order {
    margin-bottom: 10px;
  }
  [class*=group-][class*=-offset-005], [class*=block-][class*=-offset-005] {
    width: 100%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__nav-item .header__nav-link{
    font-size: 15px;
  }
  .header__nav-item {
      width: 102px;
    }
  .company .col-md-6 {
    padding: 0 15px 0 15px;
   }
  .email .container .col-md-3 .email__text p {
    font-size: 15px;
    line-height: 1.4;
   }
  .news .container {
    width: 960px;
   }
  .footer .container {
    width: 960px;
    font-size: 14px;
   }
  .footer__socials .youtube, 
  .footer__socials .inst{
      margin-left: 24px;
   }
  .footer__socials .ggl {
    margin-left: 13px;
   }
  .brands .brands__table .container{
    width: 960px;
    }
    .catalog .container {
      width: 960px;
    }
    #catalog-popup .container {
      width: 768px;
    }
    .menu__catalog .container .col-md-12 .menu__catalog-links ul li a{
      font-size: 13px;
      line-height: 35px;
      height: auto;
    }
    .menu__catalog .container .col-md-12 .menu__catalog-links ul li{
      min-width: 94px;
    }
    .col-md-1 .arrows:after{
      right: 30px;
    }
    .footer .col-md-3:last-child {
      padding: 0;
    }
    .container {
      padding: 0 15px 0 15px;
    }
    .top-line .top-line__balance{
      letter-spacing: 0.1px;
    }
    .footer__socials a{
      margin-left: 12px;
    }
    .brands .brands__table .container .row .col-md-1 img {
      width: 100%;
      height: auto;
    }
    .top-line .col-md-5 {
      padding: 0;
    }
    .top-line .top-line__phone {
      font-size: 10px;
    }
    .header__nav-item {
      width: 98px;
    }
    .sl__slide-text div {
      font-size: 20px;
    }
    .sl__slide-text a {
      font-size: 18px;
    }
    .company__info-text_block {
      letter-spacing: 0;
    }
    .company__info {
      padding-left: 0;
    }
    .company .col-sm-12 {
      width: 100%;
    }
    .top-line .col-md-1 .login__btn {
      padding: 12px 24px 12px 26px;
    }
    .brands .brands__table .container .row .col-sm-2 {
      
    }
    .email .container .col-sm-4 {
      padding: 0 0 0 49px;
      width: 33.333333%;
    }
    .email .container .col-sm-4 .email__text {
      padding-top: 30px;
    }
    .email .container .col-md-3 .email__text p {
      font-size: 18px;
    }
    .footer .container .col-sm-4 {
      width: 33.333333%;
    }
    .footer .container .col-md-1 {
      padding: 0;
    }
    .footer .container .footer__logo {
      padding-left: 13px;
    }
    .footer__socials {
      padding-top: 36px;
    }
    .footer__nav, .footer__pay {
      padding-top: 40px;
    }
    .footer__pay {
      padding-left: 22px;
    }
    .footer__numbers {
      padding: 46% 0 0 0;
    }
    .footer__address {
      padding: 44px 0 0 26px;
    }
    .footer__asiaavto {
      padding: 20px 0 16px 0;
      font-size: 13px;
    }
    .menu__catalog .container {
      padding: 0;
    }
    .menu__catalog .container .col-md-12 .menu__catalog-links ul li a {
      line-height: 30px;
    }
    .catalog {
      padding-bottom: 80px;
    }
    .catalog .container {
      width: 720px;
    }
    .catalog__filter {
      font-size: 13px;
    }
    .catalog .goods {
      padding: 0;
    }
    .catalog .catalog__filter {
      padding: 0;
      font-size: 12px;
    }
    .catalog .container .pad-l {
      padding-left: 22px;
    }
    .catalog .container .pad-l:last-child {
      padding-left: 8px;
    }
    .col-md-1 .arrows:after {
      right: 18px;
    }
    .goods .row .col-md-1 img, .goods .row .col-md-2 img {
      padding-left: 6px;
      padding-top: 10px;
    }
    .menu {
      margin-top: -22px;
      margin-bottom: 45px;
    }
    .menu__catalog .container .col-md-12 .menu__catalog-links {
      overflow: hidden;
    }
    .advantage__item {
      margin-bottom: 80px;
    }
    .brands {
      margin-bottom: 50px;
    }
    .news {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    #catalog-popup .container .popup-bg .catalog-popup__info .order {
      margin-bottom: 10px;
    }
    .footer .col-md-3 {
      padding: 0;
    }
    .footer__socials a:first-child {
      margin-left: 9px;
    }
    .footer__socials .youtube, .footer__socials .inst {
      margin-left: 15px;
    }
    .header__nav-item:nth-child(5) {
    border-left: 1px solid #ac3328;
  }
  }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } 
  .top-line .col-sm-5 {
    text-align: center;
  }
  .header__content .col-sm-12 {
    text-align: center;
  }
  .header__content .col-sm-12 a {
    display: inline-block;
  }
  .header__content .header__logo {
    padding: 5px 0 0 0;
  }
  .example {
    font-size: 13px;
  }
  .advantage .advantage__title h2 {
    padding: 30px 8px 0 10px;
  }
  .advantage {
    margin-bottom: 0;
  }
  .advantage__item {
    margin-bottom: 35px;
  }
  .brands .brands__table .container .row .col-md-1 {
    height: 70px;
  }
  .brands {
    min-height: 380px;
    margin-bottom: 35px;
  }
  .email .container .col-sm-4 {
    padding: 0 0 0 12px;
  }
  .email .container .col-md-3 .email__text p {
    font-size: 16px;
  }
  .email__search_form {
    padding-left: 0;
    margin-top: 39px;
  }
  .email {
    min-height: 130px;
  }
  .news {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .news .col-md-4 {
    margin-bottom: 5px;
  }
  .footer__pay {
    padding-left: 0;
  }
  .footer .col-sm-6 {
    text-align: center;
  }
  .footer__numbers {
    padding: 7% 0 0 0;
  }
  .catalog .container {
    /*width: 540px;*/
  }
  .catalog .catalog__filter {
    font-size: 9px;
  }
  .col-md-1 .arrows:after {
    right: 8px;
  }
  .goods {
    font-size: 13px;
  }
  .goods .row .col-md-1 div {
    text-align: center;
  }
  .goods .row .col-md-1 a, .goods .row .col-md-2 a {
    letter-spacing: 0;
  }
  .menu__catalog .container .col-md-12 .menu__catalog-links ul li {
    display: inline;
    transform: none;
  }
  .menu__catalog .container .col-md-12 .menu__catalog-links ul li a {
    transform: none;
  }
  .menu__catalog .container .col-md-12 .menu__catalog-links ul li a:hover {
    background-color: #fb4b3b;
    color: #fff;
  }
  .catalog .row { margin: 0; }
  .menu__catalog .row {margin: 0;}
  #catalog-popup .container .popup-bg .catalog-popup__info {
    margin-top: 0;
  }
  .header__nav-item:nth-child(5) {
    border-left: 1px solid #ac3328;
  }
  .catalog  {
    overflow: auto;
    /*min-width: 650px;*/
  }


  }

@media only screen and (max-width: 576px) {
  .catalog  {
    overflow: auto;
    /*min-width: 650px;*/
  }
  .footer .container {
    width: 464px;
  } 
  #catalog-popup .container {
    width: 479px;
  }
  .popup-bg {
    margin: 0;
  }
  .mfp-wrap {
    overflow-y: none;
  }
}  
  

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .call {
    display: none;
  }
  .top-line .col-4 {
    padding: 0;
  }
  .slider {
    display: none;
  }
  .company .col-md-6 h2 {
    text-align: center;
  }
  .brands .brands__table .container {
    width: 463px;
  }
  .brands .brands__table .container .row .col-md-1 {
    height: 78px;
  }
  .email .container .col-md-3 .email__text p {
    font-size: 14px;
  }
  .email .container .col-sm-4 {
    padding: 0 0 0 7px;
  }
  .email {
    min-height: 108px;
  }
  .email .container .col-sm-4 .email__text {
    padding-top: 26px;
  }
  .email__search_form {
    margin-top: 31px;
  }
  .news {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .news .container .row .news__title h2 {
    text-align: center;
  }
  .news .container {
    width: 463px;
  }
  .footer .container {
    width: 320px;
  }
  .catalog .container {
    /*width: 463px;
*/  }
  .catalog .container .pad-l {
    padding-left: 20px;
  }
  .catalog__filter .col-1:nth-child(n+6) {
    padding-left: 17px;
  }
  .catalog .container .pad-l:last-child {
    padding-left: 68px;
  }
  .col-md-1 .arrows:after {
    right: -14px;
  }
  .header__nav-item:nth-child(5) {
    border-left: 1px solid #ac3328;
  }
  .goods .row .col-md-1 img, .goods .row .col-md-2 img {
    padding-left: 0;
  }
  .goods {
    font-size: 11px;
  }
  .goods .col-1 div {
    text-align: center;
  }
  #catalog-popup .container {
    width: 320px;
  }
  .catalog {
    /*min-width: 650px;*/
  }
  .mfp-close {
    font-size: 12px;
  }
  
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .top-line .top-line__phone {
    font-size: 14px;
    width: 155px;
    text-align: center;
  } 
  .top-line .top-line__balance {
    text-align: center;
    letter-spacing: 4.1px;
  }
  .header__content col-3 {
    padding-right: 6px;
  } 
  .header__content .header__search {
    padding: 17px 36px 0 6px;
  }
  .header__content .header__search .header__search_form .header__search_form-control {
    font-size: 14px;
    padding: 13px 44px 13px 9px;
  }
  .header__content .header__search .example {
    font-size: 13px;
    padding-left: 10px;
  }
  .header__nav-item .header__nav-link {
    padding: 12% 0 9% 0;
  }
  .header__nav-item {
    width: 95px;
  }
  .header__nav-item:nth-child(4) {
    border-left: 1px solid #a73227;
  }
  .header__nav-list {
    padding-left: 0;
  }
  .header__nav-item:nth-child(7) {
    border-left: 1px solid #a73227;
  }
  .company {
    margin-bottom: 20px;
  }
  .company__info-text_block {
    font-size: 13px;
  }
  .advantage .advantage__title {
    margin-bottom: 8px;
  }
  .advantage__item {
    margin-bottom: 20px;
  }
  .brands .brands__table .container {
    width: 320px;
  }
  .email .container .col-md-3 .email__text p {
    font-size: 13px;
  }
  .email .col-8 {
    padding: 0;
  }
  .news .container {
    width: 320px;
  }
  .footer .container {
    width: 320px;
    padding: 0 15px 0 27px;
  }
  .empty {
    width: 34%;
  }
  .footer .container .footer__logo {
    padding-left: 27%;
  }
  .footer__socials {
    padding-top: 20px;
    margin-left: 60px;
  }
  .footer__socials .ggl {
    margin-left: 5px;
  }
  .footer__socials .youtube, .footer__socials .inst {
    margin-left: 6px;
  }
  .footer__socials a {
    margin-left: 1px;
  }
  .footer__nav, .footer__pay {
    padding-top: 4px;
  }
  .footer__address {
    padding: 7px 0 0 0;
  }
  .footer .col-md-3:last-child {
    margin-left: 64px;
  }
  .footer__pay {
    margin-left: 10px;
  }
  .footer__numbers {
    margin-left: 15px;
  }
  .catalog {
    /*min-width: 650px;*/
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

 /* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ } 

